################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/cBorderless/bin/Debug
/cBorderless/obj/Debug
/cBorderless/cBorderless.csproj.user
/.vs/cBorderless/v15/.suo
